<div class="action-divider">
	<p class="action-divider-text"><span class="dashicons-before {{ icon }}"></span> {{ text }}</p>
	<p class="action-divider-button"><a class="btn btn-lg btn-accent" href="{{ url }}" target="{{ target }}">{{ title }}</a></p>
</div>
