<div class="action-divider">
	<p class="action-divider-text"><span class="dashicons-before {{ icon }}"></span> {{ text }}</p>
	<div class="wp-block-button action-divider-button">
		<a class="wp-block-button__link" href="{{ url }}" target="{{ target }}">{{ title }}</a>
	</div>
</div>
