<div class="wp-block-planet4-gpch-plugin-blocks-p2p-share">
	<form class="p2p-share-form">
		<fieldset class="p2p-share-step p2p-share-step-1">
			<legend>
				{{ attributes.step1Title }}
			</legend>
			<ul class="select">
				<li>
					<input id="n1" type="radio" name="number_of_people" value="1-5" class="autoforward"
						   data-next-element=".p2p-share-step-2"/>
					<label for="n1"><img class="social-icon" src="{{ base_url }}assets/img/icon/people-1.svg"> 1 - 5
						People</label>
				</li>
				<li>
					<input id="n6" type="radio" name="number_of_people" value="6-10" class="autoforward"
						   data-next-element=".p2p-share-step-2"/>
					<label for="n6"><img class="social-icon" src="{{ base_url }}assets/img/icon/people-2.svg"> 6 - 10
						People</label>
				</li>
				<li>
					<input id="n10" type="radio" name="number_of_people" value="10-20" class="autoforward"
						   data-next-element=".p2p-share-step-2"/>
					<label for="n10"><img class="social-icon" src="{{ base_url }}assets/img/icon/people-3.svg"> 10 - 20
						People</label>
				</li>
				<li>
					<input id="n20" type="radio" name="number_of_people" value="20+" class="autoforward"
						   data-next-element=".p2p-share-step-2"/>
					<label for="n20"><img class="social-icon" src="{{ base_url }}assets/img/icon/people-3.svg"><img
								class="social-icon" src="{{ base_url }}assets/img/icon/people-3.svg"> 20+ People</label>
				</li>
			</ul>
			<div class="controls form-section wp-block-button">
				<button class="button next dark" data-next-step-field="number_of_people">Next</button>
			</div>
		</fieldset>
		<fieldset class="p2p-share-step p2p-share-step-2">
			<legend>{{ attributes.step2Title }}</legend>
			<ul class="select">
				<li>
					<input id="channel-whatsapp" type="radio" name="channel" value="whatsapp" class="autoforward"
						   data-next-element=".p2p-share-step-3.whatsapp"/>
					<label for="channel-whatsapp" class="channel whatsapp">
						<img class="social-icon" src="{{ base_url }}assets/img/social/whatsapp.svg"> WhatsApp
					</label>
				</li>
				<li>
					<input id="channel-email" type="radio" name="channel" value="email" class="autoforward"
						   data-next-element=".p2p-share-step-3.email"/>
					<label for="channel-email" class="channel email">
						<img class="social-icon" src="{{ base_url }}assets/img/social/email.svg"> Email
					</label>
				</li>
				<li>
					<input id="channel-sms" type="radio" name="channel" value="sms" class="autoforward"
						   data-next-element=".p2p-share-step-3.sms"/>
					<label for="channel-sms" class="channel sms">
						<img class="social-icon" src="{{ base_url }}assets/img/social/sms.svg"> SMS
					</label>
				</li>
				<li>
					<input id="channel-signal" type="radio" name="channel" value="signal" class="autoforward"
						   data-next-element=".p2p-share-step-3.signal"/>
					<label for="channel-signal" class="channel signal">
						<img class="social-icon" src="{{ base_url }}assets/img/social/signal.svg"> Signal
					</label>
				</li>
				<li>
					<input id="channel-threema" type="radio" name="channel" value="threema" class="autoforward"
						   data-next-element=".p2p-share-step-3.threema"/>
					<label for="channel-threema" class="channel threema">
						<img class="social-icon" src="{{ base_url }}assets/img/social/threema.svg"> Threema
					</label>
				</li>
				<li>
					
				</li>
			</ul>
			<div class="controls form-section wp-block-button">
				<button class="button previous stealth" data-previous-element=".p2p-share-step-1">Back</button>
				<button class="button next dark" data-next-step-field="channel">Next</button>
			</div>
		</fieldset>
		<fieldset class="p2p-share-step p2p-share-step-3 whatsapp">
			<legend>
				Share on WhatsApp <img class="social-icon" src="{{ base_url }}assets/img/social/whatsapp.svg">
			</legend>
			<div class="share-options">
				<div class="option hide-desktop">
					<p>Thanks for sharing!</p>
					<div class="action-controls">
						<p class="description">Click the button to open WhatsApp. You can edit the message before
							sending.</p>
						<div class="controls wp-block-button">
							<a class="" target="_blank" href="{{ whatsAppLink }}">Open WhatsApp</a>
						</div>
					</div>
				</div>
				<div class="option hide-mobile">
					<div class="sms-box">
						<label for="mobile">{{ __('Mobile number:', 'planet4-gpch-blocks') }}</label>
						<input type="text" id="share-whatsapp-number" class="phone-number-field" name="mobile"
							   placeholder="07_ ___ __ __"><br>
						<p class="status error hidden"></p>
						<p class="description">{{ __('Great! Let us send you an SMS to your phone that contains a link with a WhatsApp message.', 'planet4-gpch-blocks') }}
							<br><i>{{ __('We will not use your number for anything else.', 'planet4-gpch-blocks') }}</i>
						</p>
						<div class="controls wp-block-button">
							<button class="dark send-sms" data-channel="whatsapp"
									data-mobile-number-field="share-whatsapp-number">{{ __('Send SMS', 'planet4-gpch-blocks') }}
							</button>
						</div>
					</div>
				</div>
				<div class="controls form-section wp-block-button">
					<button class="button previous stealth" data-previous-element=".p2p-share-step-2">Back</button>
				</div>
			</div>
		</fieldset>

		<fieldset class="p2p-share-step p2p-share-step-3 email">
			<legend>
				<img class="social-icon"
					 src="{{ base_url }}assets/img/social/email.svg"> {{ __('Share by Email', 'planet4-gpch-blocks') }}
			</legend>
			<div class="share-options">
				<div class="option hide-desktop hide-mobile">
					<label for="copy-text">{{ __('Copy/Paste this text:', 'planet4-gpch-blocks') }}</label>
					<textarea id="clipboard-copy-text-email" name="copy-text"
							  rows="5">{{ attributes.emailShareText }}</textarea><br>
					<div class="controls wp-block-button">
						<button class="dark copy-to-clipboard" data-copy-field="clipboard-copy-text-email">{{ __('Copy to
							clipboard', 'planet4-gpch-blocks') }}
						</button>
					</div>
				</div>
				<div class="option">
					<label for="email">{{ __('Email:', 'planet4-gpch-blocks') }}</label>
					<input type="text" id="share-email" class="email-field" name="email"><br>
					<p class="status error hidden"></p>
					<p class="description">{{ __('Great! Let us send you an email you can forward to your friends.', 'planet4-gpch-blocks') }}
						<br><i>{{ __('We
							will not use your email address for anything else.', 'planet4-gpch-blocks') }}</i></p>
					<div class="controls wp-block-button">
						<button class="dark send-email" data-channel="email" data-email-field="share-email">
							{{ __('Send Email', 'planet4-gpch-blocks') }}
						</button>
					</div>
				</div>
			</div>
			<div class="controls form-section wp-block-button">
				<button class="button previous stealth"
						data-previous-element=".p2p-share-step-2">{{ __('Back', 'planet4-gpch-blocks') }}</button>
			</div>
		</fieldset>

		<fieldset class="p2p-share-step p2p-share-step-3 sms">
			<legend>
				<img class="social-icon"
					 src="{{ base_url }}assets/img/social/sms.svg"> {{ __('Share by SMS', 'planet4-gpch-blocks') }}
			</legend>
			<div class="share-options">
				<div class="option hide-desktop">
					<label for="copy-text">{{ __('Copy/Paste this text:', 'planet4-gpch-blocks') }}</label>
					<textarea id="clipboard-copy-text-sms" name="copy-text"
							  rows="5">{{ smsMessage }}</textarea><br>
					<div class="controls wp-block-button">
						<button class="dark copy-to-clipboard" data-copy-field="clipboard-copy-text-sms">{{ __('Copy to
							clipboard', 'planet4-gpch-blocks') }}
						</button>
					</div>
				</div>
				<div class="option hide-mobile">
					<label for="mobile">{{ __('Mobile number:', 'planet4-gpch-blocks') }}</label>
					<input type="text" id="share-sms-number" class="phone-number-field" name="mobile"
						   placeholder="07_ ___ __ __"><br>
					<p class="status error hidden"></p>
					<p class="description">{{ __('Great! Let us send you an SMS to your phone that you can forward to your
						friends.', 'planet4-gpch-blocks') }}
						<br><i>{{ __('We will not use your number for anything else.', 'planet4-gpch-blocks') }}</i></p>
					<div class="controls wp-block-button">
						<button class="dark send-sms" data-channel="sms" data-mobile-number-field="share-sms-number">
							{{ __('Send SMS', 'planet4-gpch-blocks') }}
						</button>
					</div>
				</div>
			</div>
			<div class="controls form-section wp-block-button">
				<button class="button previous stealth"
						data-previous-element=".p2p-share-step-2">{{ __('Back', 'planet4-gpch-blocks') }}</button>
			</div>
		</fieldset>

		<fieldset class="p2p-share-step p2p-share-step-3 signal">
			<legend>
				<img class="social-icon"
					 src="{{ base_url }}assets/img/social/signal.svg"> {{ __('Share by Signal', 'planet4-gpch-blocks') }}
			</legend>
			<div class="share-options">
				<div class="option hide-desktop">
					<label for="copy-text">{{ __('Copy/Paste this text:', 'planet4-gpch-blocks') }}</label>
					<textarea id="clipboard-copy-text-signal" name="copy-text"
							  rows="5">{{ signalMessage }}</textarea><br>
					<div class="controls wp-block-button">
						<button class="dark copy-to-clipboard" data-copy-field="clipboard-copy-text-signal">{{ __('Copy to
							clipboard', 'planet4-gpch-blocks') }}
						</button>
					</div>
				</div>
				<div class="option hide-mobile">
					<label for="mobile">{{ __('Mobile number:', 'planet4-gpch-blocks') }}</label>
					<input type="text" id="share-signal-number" class="phone-number-field" name="mobile"
						   placeholder="07_ ___ __ __"><br>
					<p class="status error hidden"></p>
					<p class="description">{{ __('Great! Let us send you an SMS to your phone that you can forward to your
						friends.', 'planet4-gpch-blocks') }}
						<br><i>{{ __('We will not use your number for anything else.', 'planet4-gpch-blocks') }}</i></p>
					<div class="controls wp-block-button">
						<button class="dark send-sms" data-channel="signal"
								data-mobile-number-field="share-signal-number">
							{{ __('Send SMS', 'planet4-gpch-blocks') }}
						</button>
					</div>
				</div>
			</div>
			<div class="controls form-section wp-block-button">
				<button class="button previous stealth"
						data-previous-element=".p2p-share-step-2">{{ __('Back', 'planet4-gpch-blocks') }}</button>
			</div>
		</fieldset>

		<fieldset class="p2p-share-step p2p-share-step-3 threema">
			<legend>
				Share on Threema <img class="social-icon" src="{{ base_url }}assets/img/social/threema.svg">
			</legend>
			<div class="share-options">
				<div class="option hide-desktop">
					<p>Thanks for sharing!</p>
					<div class="action-controls">
						<p class="description">
							{{ __('Click the button to open Threema. You can edit the message before sending.', 'planet4-gpch-blocks') }}
						</p>
						<div class="controls wp-block-button">
							<a class="" target="_blank" href="{{ threemaAppLink }}">Open Threema</a>
						</div>
					</div>
				</div>
				<div class="option hide-mobile">
					<label for="copy-text">{{ __('Copy/Paste this text:', 'planet4-gpch-blocks') }}</label>
					<textarea id="clipboard-copy-text-threema" name="copy-text"
							  rows="5">{{ threemaMessage }}</textarea><br>
					<div class="controls wp-block-button">
						<button class="dark copy-to-clipboard" data-copy-field="clipboard-copy-text-threema">{{ __('Copy to
							clipboard', 'planet4-gpch-blocks') }}
						</button>
					</div>
				</div>
				<div class="controls form-section wp-block-button">
					<button class="button previous stealth" data-previous-element=".p2p-share-step-2">Back</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>