<div class="gpch-taskforce-banner-wrapper tag-{{ tag.slug }}">
	<div class="gpch-taskforce-banner" style="background-image: url({{ image.src('large') }});">
		<div class="gpch-taskforce-content">
			<h2>{{ title }}</h2>

			{{ description|e('wp_kses_post')|raw }}
		</div>
		{% if button is iterable %}
			<a href="{{ button.url }}" class="btn btn-primary btn-medium">
				{{ button.title }}
			</a>
		{% endif %}
	</div>
</div>